<mat-card>
    <mat-card-title>
        Forma de Pago
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="stepForm">

            <div class="col-12 padding-left-0 margin-top">
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    (change)="onDeliveryMethodChange($event)">
                    <mat-radio-button class="example-radio-button" color="primary" *ngFor="let element of deliveryMethodsAvailable"
                        [value]="element">
                        {{element}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            
            <div *ngIf="deliveryMethodSelected === 'Asignar fecha y hora de entrega'">
                <div class="row">

                    <div class="col-md-3 padding-left-0">
                     

                          <mat-form-field appearance="standard" class="col-12 mt-5">
                            <mat-label>Fecha y Hora de entrega</mat-label>
                            <input matInput type="datetime-local" placeholder="start date" formControlName="dateDelivery">
                          </mat-form-field>
                      
                    </div>

                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>