<mat-card>
  <mat-card-title>
    Forma de Pago
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="stepForm">

      <div class="col-12 padding-left-0 margin-top">
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
          (change)="onPaymentMethodChange($event)">
          <mat-radio-button class="example-radio-button" color="primary" *ngFor="let element of paymentMethodsAvailable"
            [value]="element">
            {{element}}
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngIf="paymentMethodSelected === 'Efectivo'">
        <div class="row">
          <div class="col-12 padding-left-0">
            <mat-form-field appearance="standard" class="col-12">
              <mat-label>Con cuanto paga?</mat-label>
              <input matInput placeholder="" formControlName="paymentAmount">
            </mat-form-field>
            <control-messages [control]="paymentAmount"></control-messages>            
          </div>
        </div>
      </div>

      <div *ngIf="paymentMethodSelected === 'Visa'">
        <div class="row">
          <div class="col-md-12 padding-left-0">
            <mat-form-field appearance="standard" class="col-12">
              <mat-label>Número</mat-label>
              <input matInput maxlength="16" placeholder="xxxx xxxx xxxx xxxx" formControlName="cardNumber">
            </mat-form-field>
            <control-messages [control]="cardNumber"></control-messages>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 padding-left-0">
            <mat-form-field appearance="standard" class="col-12">
              <mat-label>Nombre y apellido del titular de la tarjeta</mat-label>
              <input matInput placeholder="nombre y apellido" formControlName="nameLastName">
            </mat-form-field>
            <control-messages [control]="nameLastName"></control-messages>            

          </div>
        </div>


        <div class="row">
          <div class="col-md-3 padding-left-0">
            <mat-form-field appearance="standard" class="col-8">
              <mat-label>Fec Vencimiento</mat-label>
              <input matInput [matDatepicker]="expiredDate" formControlName="expiredDate">
              <mat-datepicker-toggle matSuffix [for]="expiredDate"></mat-datepicker-toggle>
              <mat-datepicker #expiredDate
                              startView="multi-year"
                              (yearSelected)="chosenYearHandler($event)"
                              (monthSelected)="chosenMonthHandler($event, expiredDate)"
                              panelClass="example-month-picker">
              </mat-datepicker>
            
            </mat-form-field>

            <mat-form-field appearance="standard" class="col-4">
              <mat-label>CVC</mat-label>
              <input matInput placeholder="xxx" formControlName="cvc">
            </mat-form-field>
            <control-messages [control]="cvc"></control-messages>            

          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>