<mat-horizontal-stepper labelPosition="bottom" #stepper linear>

    <mat-step [editable]="noConfirmo" [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><span class="material-icons">
          house
          </span></ng-template>
        <app-step-address [stepForm]="firstFormGroup"></app-step-address>
        <div class="float text-right">
          <button mat-raised-button color="primary" matStepperNext class="margin-top" [disabled]="firstFormGroup.invalid">Continuar</button>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="noConfirmo" [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel><span class="material-icons">
          attach_money
          </span></ng-template>
        <app-step-payment [stepForm]="secondFormGroup"></app-step-payment>
        <div class="row"> 
          <div class="col-6">
            <button mat-raised-button matStepperPrevious class="margin-top">Atrás</button>
          </div>
          <div class="col-6 text-right">
            <button mat-raised-button color="primary"matStepperNext class="margin-top" [disabled]="secondFormGroup.invalid">Continuar</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step [editable]="noConfirmo">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel><span class="material-icons">
          moped
          </span></ng-template>
        <app-step-confirmation [stepForm]="thirdFormGroup"></app-step-confirmation>
        <div class="row"> 
          <div class="col-6">
            <button mat-raised-button matStepperPrevious class="margin-top">Atrás</button>
          </div>
          <div class="col-6 text-right">
            <button mat-raised-button color="primary" class="margin-top" (click)="confirmarCompra()" [disabled]="thirdFormGroup.invalid">Confirmar</button>
          </div>
        </div>
      </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel><span class="material-icons">
          add_task
          </span></ng-template>
        <app-step-ready></app-step-ready>
    </mat-step>
  </mat-horizontal-stepper>